html, body
{
  height: 100%;
  margin: 0;
}

body
{
background-image: linear-gradient(to right top, #33f192, #25d952, #1ec118, #2faa0a, #3b9400);
}

.header
{
	color:yellow;
	font-family: 'Yeon Sung';
	font-size: 50px;
	letter-spacing: 5px;
	margin-top: 80px;
}
.header img
{
	width: 80px;
	margin-left: -15px;
}

.login_div
{
	background: rgba(85, 192, 235, 0.8);
	float: none;
	border-radius: 50px;
	margin-top: 100px;
	
}

.logo
{
	width: 80px;
	margin-top: 30px;
	border-radius: 25px;
}

#login_button
{
	width: 80%;
	border-radius: 15px;
}

.room_name
{
	cursor: pointer;
	font-size: 20px;
}


#logout
{
	font-size: 20px; 
	float: right;
}


#output
{
	padding: 10px; 
	width:80%;
	background: rgba(234, 241, 171, 0.8);
	border-radius: 15px;
}

.input_div_room_page
{
	width: 80%;
}

.input_div label
{
	color: white;
	font-size: 20px;
}


.input_div_message_page
{
	position: fixed;
	bottom: 0px;
	width: 100%;
	background: rgba(238, 243, 164, 0.8);
}
.input_div_message_page label
{
	color: rgb(4, 41, 248);
}
.input_div_message_page #msg
{
	width: 80%;
}
.input_div_message_page button
{
	margin-top: 15px;
	width: 50%; 
}
.color_white
{	
	color: white
}

.user_tick
{
	width:20px;
}
.message_h4
{
	padding-left:5px;
	color:rgb(10, 6, 248);
}